@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*:active,
*:hover {
  outline: none;
}

html,
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin: 0;
}
